$itemsCount: 13;
$itemSize: 300px;

.carousel{
    width: 130%;
    margin-left: -90px;
    overflow: hidden;
    transform: rotate(-20deg);

    &Track{
        animation: 25s linear 0s scroll infinite;
        display: flex;
        gap: 20px;
        align-items: center;
        width: calc(#{$itemSize} * (#{$itemsCount} * 2) + 20px * #{$itemsCount});
    }
}

.reverse{
    margin-top: 60px;
    .carouselTrack{
        animation-direction: reverse;
    }
}

.carouselItem{
    width: $itemSize;
    height: $itemSize;
    display: flex;
    align-items: center;

    img{
        max-width: 90%;
        height: auto;
        max-height: 100%;
        margin: 0 auto;
    }
}

@keyframes scroll {
	from {
        transform: translateX(0); 
    }
	to {
        transform: translateX(calc(-#{$itemSize} * #{$itemsCount} - 20px * #{$itemsCount}))
    }
}