
@mixin flexLayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 28px;
}

.item{
    height: 350px;
    cursor: pointer;

    &Container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header, .footer{
            @include flexLayer;
        }
        .footer{
            justify-content: flex-end;

            .icon{
                width: 30px;
                height: 30px;
            }
        }
    }
}