$black: #000;
$lightBlack: #1b1b1f;
$darkYellow: #1d1c16;
$white: #fff;
$yellow: #FFF480;
$linksYellow: #d4c951;
$blue: #035bbc;
$errorRed: #f80000;
$errorBg: #fbf0f0;
$successGreen: #4BB543;
$successBg: #d0f6ce;

$darkOceanBlue: #05141C;
$green: #00A031;
$brownBlack: #1E1E1E;
$darkGrey: #434446;
