@import '../../styles/colors.scss';

.tech{
    overflow: hidden;

    .runningText{
        margin: 40px 0 100px 0;
        cursor: default;
    }

    &Title{
        font-family: Satoshi;
        font-weight: 600;
        font-size: 78px;
        line-height: 1.2;
        margin-left: 25%;
        margin-bottom: 10%;
    }

    .carouselContainer{
        margin-top: -100px;
    }
}