@import '../../styles/colors.scss';


.radius-70{
    border-radius: 70px;
}
.radius-75{
    border-radius: 75px;
}

.padding-large{
    padding: 70px;
}

.padding-xl{
    padding: 180px;
}

.padding-none{
    padding: 0;
}

.bgColor-white{
    background-color:$white;
}

.bgColor-lightBlack{
    background-color: $lightBlack;
}

.bgColor-yellow{
    background-color: $yellow;
}

.hoverEffect{

    &Inner{
        transition: transform .6s ease;
    }
    
    .transformWrapper{
        transition: transform .6s ease;
    }
    &:hover{
        .transformWrapper{
            transform: scale(0.96);
        }

        .hoverEffectInner{
            transform: scale(1.07);
        }
    }
}

