@import '../../styles/colors.scss';


.radius-70{
    border-radius: 70px;
}
.radius-75{
    border-radius: 75px;
}

.padding-md{
    padding: 60px;
}
.padding-large{
    padding: 70px;
}

.padding-xl{
    padding: 180px;
}

.padding-none{
    padding: 0;
}

.bgColor-white{
    background-color:$white;
}

.bgColor-lightBlack{
    background-color: $lightBlack;
}

.bgColor-yellow{
    background-color: $yellow;
}

.hoverEffect{

    &Inner, &InnerReverse{
        transition: transform .6s ease;
    }
    
    
    .transformWrapper{
        position: relative;
        overflow: hidden;
        transition: transform .6s ease;

        .media{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            transition: opacity .6s ease-out;
            opacity: 0;
        }
    }
    &:hover{
        .transformWrapper{
            transform: scale(0.96);
        
            // .media{
            //     opacity: 0.5;
            // }
        }

        .hoverEffectInner{
            transform: scale(1.07);
        }
        .hoverEffectInnerReverse{
            transform: scale(0.97);
        }
    }
}


.workMain{
    position: relative;
    overflow: hidden;
}