@import '../../styles/colors.scss';

.contact{
    margin-bottom: 20px;
}

.getInTouch{
    display: grid;
    grid-template-columns: 1.4fr 0.6fr ;
    gap: 60px;
    align-items: center;
}

.heading{
    font-size: 72px;
    margin-bottom: 50px;
    color: $white;
}

.links{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
    img{
        display: inline;
        width: 80px;
        height: 80px;
        margin-right: 20px;
        transition: transform .4s ease;
    }

    &Title{
        position: relative;
        font-size: 76px;
        font-weight: bold;
        line-height: 1;
        display: flex;
        gap: 10px;

        svg{
            display: inline-block;
            margin-bottom: 7px;
            align-self: flex-end;
        }
    }

    &:hover{
        img{
            transform: scale(1.08);
        }
    }
}
