@import '../../styles/colors.scss';

.contact{
    margin-bottom: 10px;
}

.contactWrapper{
    @media screen and (min-width: 2000px) {
        padding: 90px;
    }

    @media screen and (max-width: 992px) {
        padding: 50px;
    }

    @media screen and (max-width: 740px) {
        padding: 30px;
    }
}

.getInTouch{
    display: grid;
    grid-template-columns: 1.4fr 0.6fr ;
    gap: 60px;
    align-items: center;
    
    @media screen and (max-width: 1280px){
        gap: 30px;
    }

    @media screen and (max-width: 992px){
        display: block;
    }
}

.heading{
    font-size: 72px;
    line-height: 1;
    margin-bottom: 50px;
    color: $white;

    @media screen and (max-width: 740px) {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 56px;
    }

    @media screen and (max-width: 548px) {
        margin-top: 0;
    }

    @media screen and (max-width: 460px){
        font-size: 42px;
        margin-bottom: 30px;
    }
}

.links{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;

    @media screen and (max-width: 992px){
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
    img{
        display: inline;
        width: 80px;
        height: 80px;
        margin-right: 20px;
        transition: transform .4s ease;

        @media screen and (max-width: 1280px){
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
    }

    &Title{
        position: relative;
        font-size: 76px;
        font-weight: bold;
        line-height: 1;
        display: flex;
        gap: 10px;

        svg{
            display: inline-block;
            margin-bottom: 7px;
            align-self: flex-end;
        }

        @media screen and (max-width: 1280px){
            font-size: 54px;
        }

    }

    &:hover{
        img{
            transform: scale(1.08);
        }
    }

    @media screen and (max-width: 992px){
        margin-bottom: 0;

        &Title{
            display: none;
        }
    }
}
