@import '../../styles/colors.scss';

@mixin biggerImage{
    .nameTextHidden{
        clip-path: circle(125px at var(--x) var(--y));
    }

    .imageContainer{
        top: -75px;
        left: -75px;
        width: 250px;
        height: 250px;
    }

    .imageInner{
        top: -125px;
        left: -125px;
        width: 250px;
        height: 250px;
    }

    .nameImage{
        width: 250px;
        height: 250px;
    }
}

@mixin smallerImage{
    .nameTextHidden{
        clip-path: circle(100px at var(--x) var(--y));
    }

    .imageContainer{
        top: -75px;
        left: -75px;
        width: 200px;
        height: 200px;
    }

    .imageInner{
        top: -100px;
        left: -100px;
        width: 200px;
        height: 200px;
    }

    .nameImage{
        width: 200px;
        height: 200px;
    }
}

@mixin textStyles {
    color: $black;
    font-family: Disket;
    font-size: 72px;
    font-weight: 700;
    cursor: default;
    transition: transform .6s ease;

    @media screen and (min-width: 2000px){
        font-size: 84px;
    }

    @media screen and (max-width: 1500px) {
        font-size: 64px;
    }

    @media screen and (max-width: 1320px) {
        font-size: 54px;
    }

    @media screen and (max-width: 1180px) {
        font-size: 42px;
    }

    @media screen and (max-width: 992px) {
        font-size: 72px;
    }

    @media screen and (max-width: 870px) {
        font-size: 64px;
    }

    @media screen and (max-width: 768px) {
        font-size: 54px;
    }

    @media screen and (max-width: 660px) {
        font-size: 42px;
    }

    @media screen and (max-width: 548px) {
        font-size: 32px;
    }
    @media screen and (max-width: 418px){
        font-size: 28px;
    }
}



.header{
    padding-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "name name . ."
    "name name location location"
    ". . location location"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10px;

    @media screen and (min-width: 2000px){
        padding-top: 20px;
    }

    @media screen and (max-width: 992px){
        display: block;
    }

    .name{
        grid-area: name;
        position: relative;
        &Inner{
            overflow: hidden
        }

        .nameText{
            @include textStyles;
        }

        .nameTextHidden{
            @include textStyles;
            color: $white;
            z-index: 2;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            bottom: 0;
            pointer-events: none;
            clip-path: circle(125px at var(--x) var(--y));
            opacity: 0;
            transition: opacity 250ms ease;
        }

        .imageContainer{
            z-index: 1;
            position: absolute;
            top: -75px;
            left: -75px;
            width: 250px;
            height: 250px;
            opacity: 0;
            transition: opacity 250ms ease;
        }

        .imageInner{
            position: absolute;
            top: -125px;
            left: -125px;
            width: 250px;
            height: 250px;
        }

        .nameImage{
            display: block;
            max-width: 100%;
            width: 250px;
            height: 250px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }

        &:hover{
            .hoverContainer{
                .nameTextHidden{
                    opacity: 1
                }
                .imageContainer{
                    opacity: 1;
                }
            }
        }

        @media screen and (max-width: 1280px){
            @include smallerImage;
        }

        @media screen and (max-width: 992px){
            @include biggerImage
        }

        @media screen and (max-width: 768px){
            @include smallerImage;
        }

        @media screen and (max-width: 568px){
            .nameTextHidden{
                clip-path: circle(75px at var(--x) var(--y));
            }
        
            .imageContainer{
                top: -75px;
                left: -75px;
                width: 150px;
                height: 150px;
            }
        
            .imageInner{
                top: -75px;
                left: -75px;
                width: 150px;
                height: 150px;
            }
        
            .nameImage{
                width: 150px;
                height: 150px;
            }
        }
    }

    .location{
        grid-area: location;
        position: relative;
        overflow: hidden;

        .locationText{
            @include textStyles;
            text-align: right;
            position: relative;
            z-index: 2;
        }
    }
    
    @media screen and (max-width: 992px){
        .name{
            width: 85vw;
            margin-left: 0;
            margin-right: auto;
            margin-bottom: 20px;
        }

        .location{
            width: 85vw;
            margin-right: 0;
            margin-left: auto;
        }
    }

    @media screen and (max-width: 346px){
        .name, .location{
            width: 100%;
        }
    }

    .locationPseudo{
        overflow: hidden;
        &::before{
            content: "";
            display: block;
            position: absolute;
            height: 50%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            background-color: $blue;
            opacity: 0;
            transition: opacity .6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }

    .location:hover{
        .locationPseudo::before{
            opacity: 1;
        }
    }
}

.nameInner, .locationPseudo{
    @media screen and (min-width: 2000px) {
        padding: 90px;
    }

    @media screen and (max-width: 1320px) {
        padding: 50px;
    }

    @media screen and (max-width: 1180px) {
        padding: 40px;
    }

    @media screen and (max-width: 992px) {
        padding: 70px;
    }

    @media screen and (max-width: 870px) {
        padding: 50px;
    }

    @media screen and (max-width: 548px) {
        padding: 40px;
        border-radius: 45px !important;
    }

    @media screen and (max-width: 418px){
        padding: 40px 30px;
    }

    @media screen and (max-width: 346px){
        padding: 40px 20px;
    }
}