@import '../../styles/colors.scss';

.snackbar{
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    padding: 20px 30px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: $successBg;
    animation: .5s 0s ease-out appear,
                .5s 4.5s ease-out disappear;

    &Inner{
        position: relative;
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: $successGreen;
        gap: 15px;
    }

    .errorEmail{
        @extend .snackbarInner;
        color: $black;
        display: block;
        transition: opacity .3s ease;

        &:hover{
            opacity: 0.75;
        }
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        background-color: $successGreen;
        animation: barSlide 4.5s linear;
    }
}

.error{
    background-color: $errorBg;

    .snackbarInner{
        color: $errorRed;
        margin-bottom: 10px;
    }

    &::before{
        background-color: $errorRed;
    }
}

@keyframes barSlide{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes appear{
    0%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes disappear{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0)
    }
}